/wp-content/uploads

wp-content/plugins/duplicate-page/readme.txt

wp-content/plugins/duplicate-page/languages/duplicate_page.pot

wp-content/plugins/duplicate-page/languages/duplicate_page-hi_IN.po

wp-content/plugins/duplicate-page/languages/duplicate_page-hi_IN.mo

wp-content/plugins/duplicate-page/languages/duplicate_page-cs_CZ.po

wp-content/plugins/duplicate-page/languages/duplicate_page-cs_CZ.mo

wp-content/plugins/duplicate-page/duplicatepage.php

wp-content/plugins/duplicate-page/admin-settings.php

wp-content/plugins/duplicate-post/compat/duplicate-post-jetpack.php

wp-content/plugins/duplicate-post/compat/duplicate-post-wpml.php

wp-content/plugins/duplicate-post/donate.png

wp-content/plugins/duplicate-post/duplicate-post-admin.php

wp-content/plugins/duplicate-post/duplicate-post-common.php

wp-content/plugins/duplicate-post/duplicate-post-options.php

wp-content/plugins/duplicate-post/duplicate-post.css

wp-content/plugins/duplicate-post/duplicate-post.php

wp-content/plugins/duplicate-post/gpl-2.0.txt

wp-content/plugins/duplicate-post/readme.txt
