/* Contestant Page */
.nav-menu-top {
    position: inherit;
    background-color: black;
}

.head-logo {
    width: 50%;
}

.menu-top-container {
    padding-top: 2%;
}

.details-modal {
    background-color: #E8E8EA;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title .underline {
    width: 30%;
}

.details-modal .image-container {
    padding-left: 15px;
}

.contestant-intro {
    margin-bottom: 20px;
}

.contestant-intro .name {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto Slab';
    font-weight: 700;
}

.description-container {
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 25px;
}

.extra {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid thin grey;
    border-bottom: solid thin grey;
}

.key {
    color: #EF4623;
    font-family: 'Roboto Slab';
    font-weight: bold;
}

.value {
    font-family: 'Roboto Slab';
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    background-color: #EF4623;
    color: white;
    font-family: 'Roboto';
    font-size: large;
}

.button-container button:hover {
    background-color: #d23110;
    color: white;
}

.video-modal {
    margin-top: 50px;
    margin-bottom: 50px;
}
