/* HELPER */
html, body {
    height: 100%;
}

.image-container {
    padding: 0;
}

.image-container img {
    width: 100%;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:focus {
    text-decoration: none;
}

.btn:hover {
    color: white;
}

/* All page modal - of front page */
.page-modal {
    padding: 3.1vw 0;
}

.page-modal .modal-header {
    margin-bottom: 3%;
    border: none;
}

.page-modal .page-modal-title {
    text-align: center;
    font-size: 2.9vw;
    font-family: 'RobotoSlabb';
}

/* Fixed Ratio */
.container {
    position: relative;
}

.ratio169 {
    padding-top: 56.25%;
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Underline */
.underline {
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EF4623;
    border-radius: 10px;
    width: 15%;
}

/* Navigation bar */
.nav-menu-top {
    position: inherit;
    background-color: black;
}

.head-logo {
    width: 50%;
}

.menu-top-container {
    padding-top: 4%;
    text-align: center;
}

.head-logo-container {
    padding: 10px !important
}

.menu-top-container a, .menu-top-container button {
    font-family: 'Robotob';
    font-size: 0.87vw;
    color: white;
}

.menu-top-container button {
    background-color: #EF4623;
    margin-top: -8px;
}

.menu-top-container a.active {
    color: #EF4623;
}

.menu-top-container a:hover {
    color: #EF4623;
}

/* "DOC THEM" button */
.modal-more {
    padding: 0% 5%;
}

.modal-more button {
    font-family: 'Robotol';
    font-size: 1vw;
    background-color: #EF4623;
    border-radius: 25px;
    margin-top: 20px;
    color: white;
}

/* News title */
:root {
    --news-title-border-color: rgba(0,0,0,0.14);
}

.news-title {
    display: inline-block;
    width: 100%;
    color: black;
    font-family: 'RobotoSlabb';
    border-bottom: solid thin var(--news-title-border-color);
}

/* Video player */
.video {
    cursor: pointer;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
}

.video-container .video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
}

.play-button {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.play-button i {
    font-size: 2vw;
    padding: 2% 4%;
    border-radius: 20px;
    color: white;
    background-color: #373838;
}

.play-button i.hover {
    background-color: red;
}

/* News Modal - for front page and single page */
.news-modal {
    background-color: #E8E8EA;
}

.news-modal .main-news-container img{
    width: 97.8%;
}

.news-modal .news-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5vw;
}

.news-modal .short-description {
    font-size: 1vw;
    font-family: 'Robotol';
    color: black;
}

.news-modal .read-more {
    margin-top: 20px;
    color: #EF4623;
    font-size: 1.2vw;
}

.news-modal .read-more i {
    vertical-align: middle;
}

.news-modal .sub-news-container {
    cursor: pointer;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.news-modal .sub-news .news-title {
    font-size: 1vw;
}

.news-modal .sub-news {
    border-bottom: solid thin;
    margin-bottom: 20px;
}

.news-modal .sub-news img {
    width: 93%;
}

.news-modal .sub-news .news-title {
    border: none;
    font-size: 1.3vw;
    margin: 10px 0;
}

/* footer */
.sponsors-modal {
    background-color: #f2f2f2;
}

.sponsors-modal .logo-container-box {
    padding-top: 50px;
}

.sponsors-modal .logo{
    height: 150px;
}

.sponsors-modal .text-container {
    color: grey;
    font-size: 1vw;
    margin-top: 3%;
    margin-bottom: 1%;
}

.sponsors-modal .logo-container-row {
    height: 6.5vw;
    text-align: center;
}

.sponsors-modal .logo-container-row>div {
    height: 100%;
}

.sponsors-modal .logo {
    height: 100%;
    display: inline-block;
}

.sponsors-modal .logo img {
    height: 100%;
}

.sponsors-modal .gold-sponsor {
    margin-top: -10px;
}

.sponsors-modal .row-2 .logo {
    height: 90%;
    margin: 0% 3%;
}

.sw img {
    height: 85% !important;
}

.sponsors-modal .row-3 .logo {
    height: 40%;
    margin: 0% 3%;
}

.sponsors-modal .text {
    font-family: 'Robotol';
    /*font-weight: 300;*/
    text-align: center;
}

.copyright {
    text-align: center;
    font-family: 'Robotol';
    /*font-weight: 300;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
    font-size: 1vw;
}
