/* HELPER */
html, body {
    height: 100%;
}

.image-container {
    padding: 0;
}

.image-container img {
    width: 100%;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:focus {
    text-decoration: none;
}

.btn:hover {
    color: white;
}

/* Underline */
.underline {
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EF4623;
    border-radius: 10px;
}

.title .underline {
    width: 15%;
}

/* Navigation bar */
.nav-menu-top {
    position: inherit;
    background-color: black;
}

.head-logo {
    width: 50%;
}

.menu-top-container {
    padding-top: 4%;
    text-align: center;
}

.head-logo-container {
    padding: 10px !important
}

.menu-top-container a, .menu-top-container button {
    font-family: 'Robotob';
    /*font-weight: 700;*/
    font-size: 1.7vh;
    color: white;
}

.menu-top-container button {
    background-color: #EF4623;
    margin-top: -8px;
}

.menu-top-container a.active {
    color: #EF4623;
}

.menu-top-container a:hover {
    color: #EF4623;
}

/* Video player */
.video {
    cursor: pointer;
}

.video iframe {
    position: absolute;
    top: 0;
    padding-right: 30px;
}

.main-video .video {
    height: 500px;
    background-color: black;
}

.play-button {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.play-button i {
    font-size: 4vh;
    padding: 2% 4%;
    border-radius: 20px;
    color: white;
    background-color: #373838;
}

.play-button i.hover {
    background-color: red;
}

/* footer */
.sponsors-modal {
    background-color: #f2f2f2;
}

.sponsors-modal .logo-container-box {
    padding-top: 50px;
}

.sponsors-modal .logo{
    height: 150px;
}

.sponsors-modal .text-container {
    color: grey;
    font-size: 1vw;
    margin-top: 3%;
    margin-bottom: 1%;
}

.sponsors-modal .logo-container-row {
    height: 6.5vw;
    text-align: center;
}

.sponsors-modal .logo-container-row>div {
    height: 100%;
}

.sponsors-modal .logo {
    height: 100%;
    display: inline-block;
}

.sponsors-modal .logo img {
    height: 100%;
}

.sponsors-modal .gold-sponsor {
    margin-top: -10px;
}

.sponsors-modal .row-2 .logo {
    height: 90%;
    margin: 0% 3%;
}

.sw img {
    height: 85% !important;
}

.sponsors-modal .row-3 .logo {
    height: 40%;
    margin: 0% 3%;
}

.sponsors-modal .text {
    font-family: 'Robotol';
    /*font-weight: 300;*/
    text-align: center;
}

.copyright {
    text-align: center;
    font-family: 'Robotol';
    /*font-weight: 300;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
    font-size: 1vw;
}
