/* SM and lower */
@media (max-width:992px) {
    .sponsors-modal .row-2 .logo {
        height: 130%;
    }

    .sponsors-modal .row-3 .logo {
        height: 70%;
    }

    .sponsors-modal .logo-container-box {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .sponsors-modal .copyright {
        font-size: 2vw;
    }

    .head-logo {
        width: 40%;
    }

    .moreNav {
        padding-top: 25px;
        text-align: right;
    }

    .moreNav i{
        font-size: 30px;
        color: white;
    }

    .menu-top-container {
        text-align: right !important;
        padding-top: 0 !important;
    }

    .menu-top-container button {
        margin-top: 0;
    }

    .menu-top-container .logo-item {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .news-modal .image-container {
        padding: 0 15px;
    }

    .news-modal .news-title {
        margin-left: 0;
        padding-left: 15px;
    }
}
