@media (max-width:992px) {
    .text {
        height: 85%;
        align-items: center;
    }

    .text .first {
        font-family: 'IntroThin';
        font-size: 13vw;
        margin-bottom: -10px;
    }

    .text .second {
        font-family: 'Intro';
        font-size: 10vw;
    }

    .part .title .text {
        font-size: 5vw;
    }

    .part {
        font-size: 3vw;
    }

    .registerBtn button {
        font-size: 3vw;
    }

    .part .info-more {
        font-size: 3vw;
    }

    .sub-part .heading {
        font-size: 4vw;
    }
}
