/* Speciail small nav for main-page */
.small-nav.nav-menu-top {
    position: fixed;
}

/* HEADER INTRO - for front page */
.top-header {
    background: url('../assets/images/microphone.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 100vh;
}

.top-header .text {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 3
}

.top-header .first {
    font-family: 'IntroThin';
    font-size: 3.4vw;
    margin-bottom: -10px;
}

.top-header .second {
    font-family: 'Intro';
    font-size: 3.9vw;
}

.top-header .third {
    font-family: 'IntroThin';
    font-size: 3vw;
    margin-bottom: -10px;
}

.top-header .fourth {
    font-family: 'Intro';
    font-size: 2vw;
}

/* Customize Flip clock */
.clock {
    width: auto !important;
}

.flip-clock-label {
    display: none;
}

.flip-clock-dot {
    background-color: white !important;
}

.bottom-header {
    background: url('../assets/images/bottom-intro.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.bottom-header .text {
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-header .first {
    font-family: 'RobotoSlabb';
    font-size: 3.1vw;
}

.bottom-header .second {
    font-family: 'Robotol';
    margin-top: 30px;
    font-size: 1.1vw;
    line-height: 1.8;
}

.bottom-header .second strong {
    font-family: 'Robotob';
}

.bottom-header .underline {
    width: 30%;
}

.bottom-header a:hover {
    text-decoration: none;
}

/* CONTESTANT PART - of front page*/
.coming-soon {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.contestant-name {
    font-family: 'RobotoSlabr';
    font-size: 1.05vw;
    padding: 0;
}

.contestant-container {
    padding-bottom: 20px;
}

.contestant-container img{
    width: 70% !important;
}

.underline.avatar {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contestant-navigation .dot {
    float: left;
    width: 25%;
    list-style: none;
    height: 15px;
}

.contestant-navigation .in-dot {
    display: block;
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    border-color: #EF4623;
    border-style: solid;
    border-radius: 20px;
}

.contestant-navigation .dot.selected .in-dot {
    background-color: #EF4623
}

/* VIDEO MODAL - for front page */
.sub-video .video {
    height: 200px;
    background-color: black;
    border: solid thin rgba(0,0,0,0.14);
}

.videos-modal .sub-video i {
    font-size: 1.05vw;
    padding: 2% 5%;
    border-radius: 7px;
}

.videos-modal .video-text {
    text-align: center;
    font-size: 1.2vw;
    margin-top: 10px;
}

.videos-modal .video-title {
    font-family: 'Robotot';
}

.videos-modal .video-author {
    font-weight: bold;
}

.videos-modal .sub-video .video-text {
    font-size: 1vw;
}

/* REGISTER MODAL - for front page */
.register-modal {
    background: url('../assets/images/register.jpg');
    background-size: cover;
    background-position: top center;
    height: 400px;
}

.register-modal .text-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 2.25vw;
}

.register-modal .text-container p {
    font-family: 'Robotot';
    /*font-weight: 100;*/
}

.register-modal .text-container button {
    font-family: 'Robotol';
    /*font-weight: 300;*/
    font-size: 1.05vw;
    background-color: #EF4623;
    border-radius: 25px;
    padding: 1% 10%;
}

.register-modal .text-container a {
    color: white;
}


/* SPONSOR MODAL - for front page */
.sponsor-modal .bio {
    border-bottom: solid thin;
    padding-bottom: 10px;
}

.sponsor-modal .name {
    font-size: 2.05vw;
    line-height: 0.73em;
    color: black;
    font-family: 'Robotob';
}

.sponsor-modal .position {
    font-size: 1.3vw;
    color: #8a8a8a;
    font-family: 'Robotol';
    margin-top: 5px;
}

.sponsor-modal .quote {
    padding-top: 10px;
    font-size: 1.3vw;
    font-family: 'Robotot';
}

.sponsor-modal .logo-box-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 50px;
    margin-top: 5%;
}

.sponsor-modal .company-logo {
    height: 100%;
}
