@media (max-width:992px) {
    .top-header-mobile-container {
        height: 100%;
    }

    .top-header-mobile {
        background: url('../assets/images/microphone.jpg');
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
    }

    .top-header-mobile .text {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 3
    }

    .top-header-mobile .first {
        font-family: 'IntroThin';
        font-size: 11.4vw;
        margin-bottom: -10px;
    }

    .top-header-mobile .second {
        margin-top: 10px;
        font-family: 'Intro';
        font-size: 13.3vw;
        line-height: 1;
    }

    .top-header-mobile .third {
        font-family: 'IntroThin';
        font-size: 9vw;
        margin-bottom: -10px;
    }

    .top-header-mobile .fourth {
        font-family: 'Intro';
        font-size: 6vw;
    }

    .register-modal .text-container {
        font-size: 8vw;
    }

    .register-modal .text-container button {
        font-size: 4vw;
    }
    .bottom-header {
        min-height: 100%;
        height: auto;
    }

    .bottom-header .text {
        transform: none;
    }

    .bottom-header .first {
        font-size: 10vw;
    }

    .bottom-header .second {
        font-size: 4vw
    }

    .modal-more button {
        font-size: 4vw;
    }

    .videos-modal .video-text {
        font-size: 3vw;
    }

    .sponsor-modal .name {
        font-size: 6vw
    }

    .sponsor-modal .position {
        font-size: 3vw
    }

    .sponsor-modal .quote {
        font-size: 3vw;
    }

    .sponsor-modal .logo-box-container {
        height: 20px;
    }
}
