@media (max-width:992px) {
    /* Intro modal */
    .top-header .first {
        font-size: 9vw;
    }

    .top-header .second {
        font-size: 14vw;
    }

    .top-header .third {
        font-size: 7vw;
        margin-bottom: -5px;
    }

    .top-header .fourth {
        font-size: 7vw;
    }

    .register-modal .text-container {
        font-size: 8vw;
    }

    .register-modal .text-container button {
        font-size: 4vw;
    }
    .bottom-header {
        min-height: 100%;
        height: auto;
    }

    .bottom-header .text {
        transform: none;
    }

    .bottom-header .first {
        font-size: 10vw;
    }

    .bottom-header .second {
        font-size: 4vw
    }

    .modal-more button {
        font-size: 4vw;
    }

    .videos-modal .video-text {
        font-size: 3vw;
    }

    /* QUOTE MODAL */
    .quote-modal .sponsor-name {
        margin-top: 40px;
    }

    .quote-modal .sponsor-quote {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .quote-modal .mobile-divider {
        height: 1px;
        margin-bottom: 15px;
        background-color: black;
    }

    .sponsor-modal .name {
        font-size: 6vw
    }

    .sponsor-modal .position {
        font-size: 3vw
    }

    .sponsor-modal .quote {
        font-size: 3vw;
    }

    .sponsor-modal .logo-box-container {
        height: 20px;
    }
}
