/* MAIN PAGE */
.nav-menu-top {
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 5;
    background-color: transparent;
}

.head-logo {
    width: 70%;
}

.menu-top-container {
    padding-top: 5%;
    text-align: center;
}

/* HEADER INTRO - for front page */
.top-header {
    background: url('../assets/images/microphone.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.top-header .text {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 3
}

.top-header .first {
    font-family: 'IntroThin';
    font-size: 3.4vw;
    margin-bottom: -10px;
}

.top-header .second {
    font-family: 'Intro';
    font-size: 3.9vw;
}

.top-header .third {
    font-family: 'IntroThin';
    font-size: 3vw;
    margin-bottom: -10px;
}

.top-header .fourth {
    font-family: 'Intro';
    font-size: 2vw;
}

.top-header .more {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    cursor: pointer;
}

.top-header .more p {
    font-size: 2.5vh;
    color: white;
    margin-bottom: -10px;
    font-family: 'Robotol';
    /*font-weight: 300;*/
}

.top-header .more img {
    width: 8%
}

.bottom-header {
    background: url('../assets/images/bottom-intro.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.bottom-header .text {
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-header .first {
    font-family: 'RobotoSlabb';
    /*font-weight: 700;*/
    font-size: 6vh;
}

.bottom-header .second {
    font-family: 'Robotol';
    /*font-weight: 300;*/
    margin-top: 30px;
    font-size: 2.1vh;
    line-height: 1.8;
}

.bottom-header .second strong {
    font-family: 'Robotob';
}

.bottom-header .underline {
    width: 30%;
}

.bottom-header .more-container {
    padding: 0% 5%;
}

.bottom-header .more {
    font-family: 'Robotol';
    /*font-weight: 300;*/
    font-size: 2vh;
    background-color: #EF4623;
    border-radius: 25px;
    margin-top: 20px;
    color: white;
}

.bottom-header a:hover {
    text-decoration: none;
}

/* All page modal - of front page */
.page-modal {
    padding-top: 12vh;
    padding-bottom: 8vh;
}

.page-modal .title {
    margin-bottom: 3%;
    text-align: center;
    font-size: 5.6vh;
    font-family: 'RobotoSlabb';
    /*font-weight: 700;*/
}

/* CONTESTANT PART - of front page*/
.coming-soon {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.contestant-name {
    font-family: 'RobotoSlabr';
    font-size: 2vh;
    padding: 0;
}

.contestant-container {
    padding-bottom: 20px;
}

.contestant-container img{
    width: 70% !important;
}

.underline.avatar {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contestant-navigation .dot {
    float: left;
    width: 25%;
    list-style: none;
    height: 15px;
}

.contestant-navigation .in-dot {
    display: block;
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    border-color: #EF4623;
    border-style: solid;
    border-radius: 20px;
}

.contestant-navigation .dot.selected .in-dot {
    background-color: #EF4623
}

/* NEWS PART - of front page */
.news-modal {
    background-color: #E8E8EA;
}

.news-modal .image-container {
    padding-left: 15px;
}

.news-modal .news-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-bottom: 5px;
    padding-left: 0;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(128,128,128,0.42);
    font-size: 20px;
    font-weight: bold;
    color: #EF4623;
}

.news-modal .more {
    margin-top: 20px;
}

.news-modal .more a{
    color: #EF4623;
    font-size: 20px;
}

.news-modal .more a::after{
    font-family: FontAwesome;
    content: "\f063";
}

.news-modal .sub-news-container {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.news-modal .sub-news-container .row {
    margin-left: 15px;
    margin-right: 0;
}

.news-modal .sub-news {
    padding: 15px;
    font-size: 16px;
    border-top: solid thin grey;
    border-bottom: solid thin grey;
}

.news-modal .sub-news.selected {
    background-color: #EF4623;
    color: white;
    border-color: white;
}

/* VIDEO MODAL - for front page */
.sub-video .video {
    height: 200px;
    background-color: black;
}

.videos-modal .sub-video i {
    font-size: 2vh;
    padding: 2% 5%;
    border-radius: 7px;
}

.videos-modal .video-text {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.videos-modal .video-title {
    font-weight: lighter;
}

.videos-modal .video-author {
    font-weight: bold;
}

/* REGISTER MODAL - for front page */
.register-modal {
    background: url('../assets/images/register.jpg');
    background-size: cover;
    background-position: top center;
    height: 400px;
}

.register-modal .text-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 4.4vh;
}

.register-modal .text-container p {
    font-family: 'Robotot';
    /*font-weight: 100;*/
}

.register-modal .text-container button {
    font-family: 'Robotol';
    /*font-weight: 300;*/
    font-size: 2vh;
    background-color: #EF4623;
    border-radius: 25px;
    padding: 1% 10%;
}

.register-modal .text-container a {
    color: white;
}
