/* Video Container */
.video-block {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
}

.play-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.play-button i {
    font-size: 1.4vw;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 100px;
    opacity: 0;
    transition: 0.5s all;
}

.play-button i.hover {
    margin-top: 0;
    opacity: 1;
}

.name, .author {
    text-align: center;
}

.author {
    font-family: 'Robotot';
    font-size: 1.2vw;
    margin-top: 10px;
}

.name {
    font-size: 0.8vw;
    font-family: 'Robotob';
    color: #EF4623;
}

.modal-dialog {
    width: auto;
    margin: 3% 10%;
}

.modal-content {
    border-radius: 0;
}

.modal-dialog .modal-header {
    margin-bottom: 0;
}

.modal-title {
    background-color: #EF4623;
    padding: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font: 1.4vw 'RobotoSlabr';
}

.modal-header .close {
    margin-top: 1px;
    margin-right: 5px;
    text-shadow: none;
    color: white;
    opacity: 0.7;
}

.modal-dialog .modal-body {
    padding: 5px 15px;
}

.modal-info {
    padding: 15px;
}

.modal-author-image img {
    width: 100%;
}

.modal-author {
    margin: 10px 0;
    font-family: 'RobotoSlabb';
    font-size: 1.3vw;
}

.modal-bio {
    font-family: 'Robotor';
}

.modal-bio b, .modal-bio strong {
    font-family: 'Robotob';
}

.voteRow {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.modal-vote-button, .fb-share {
    padding: 20px 0;
    background-color: #EF4623;
    color: white;
    font: 1vw 'Robotol';
    cursor: pointer;
    transition: all 0.5s;
}

.modal-vote-button.disabled {
    background-color: grey;
}

.modal-vote-button:not(.modal-vote-button.disabled):hover {
    background-color: #ea6449;
}

.modal-vote {
    padding: 18px 0;
    background-color: white;
    color: #EF4623;
    border: solid #EF4623;
    font: 1vw 'Robotol';
}

@media (min-width: 992px) {
    .clear:nth-child(8n+0)::before {
      content: '';
      display: table;
      clear: both;
    }
}
