.vote-area {
    margin-top: 10px;
}

.cst-area {
    margin-top: 10px;
}

.cst-thumbnail {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cst-divider {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    border-radius: 2px;
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vote-icon {
    width: 10%;
}
